<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pjfeature.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tunisian Programmers Community</h3>
    <ul>
      <li> A community</li>
    </ul>
    <p>This is a Community I started for the Tunisian programmers. We share good technical content. and We're also aiming to build a full-network.</p>
    <a class="project-link" href="https://facebook.com/groups/TunisianProgrammersLovers/" target="_blank">Check it out</a>
  </div>
</div>
